/vendor/
/bin/
Vagrantfile
/vagrant
.vagrant
/private
/web/typo3temp
/web/fileadmin
/web/uploads
/web/typo3
/web/index.php
/web/typo3conf/ext
/web/typo3conf/*.log
/web/typo3conf/PackageStates.php
/web/typo3conf/AdditionalConfiguration.php
/web/typo3conf/ENABLE_INSTALL_TOOL
/web/FIRST_INSTALL